.list {
	display: grid;
	width: 100%;
	height: 100%;
	padding: 0 8px;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--box, 100px);
	grid-gap: 8px;
	overflow-x: hidden;
	overflow-y: auto;
	transition: 250ms ease-out;
}
