.item {
  display: grid;
  grid-template-columns: calc(100vh / 12) 1fr 12px;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: #0004;
  border-radius: 12px;

  &:hover {
    background-color: #0008;
  }
}

.image_container {
  position: relative;
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;

  .play {
    position: absolute;
    text-align: center;
    font-family: "Anicons Regular";
    font-size: 32px;
    user-select: none;
    color: #50fa7b;
    transition: 250ms ease;
    font-variation-settings: "TIME" 1;
  }

  .pause {
    position: absolute;
    text-align: center;
    font-family: "Anicons Regular";
    font-size: 32px;
    user-select: none;
    color: #50fa7b;
    transition: 250ms ease;
    font-variation-settings: "TIME" 100;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 500ms ease;
  }
}

.title_container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .title {
    text-align: center;
    user-select: none;
    font-size: 14px;
  }

  @media screen and (max-width: 400px) {
    .title {
      font-size: 12px;
    }
  }
}