.container {
  display: flex;
  width: 100%;
  height: calc(100% - 12px);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.search_container {
  display: grid;
  width: 100%;
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
  grid-template-columns: repeat(1 , 1fr);
  grid-auto-rows: calc(100vh / 12);
  gap: 6px;
  list-style: none;
}

@media screen and (min-width: 800px) {
  .search_container {
    grid-template-columns: repeat(2, 1fr);
  }
}