.container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 64px 1fr 64px;
	grid-template-areas: "Search" "List" "Player";
	background-color: #111111;
}

.search_box {
	grid-area: Search;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.search {
	width: 95%;
	height: 75%;
	padding: 8px 12px;
	border-radius: 6px;
	color: #ffffff;
	background-color: #333333;
	font-size: 16px;
}

.list {
	grid-area: List;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr;
	grid-auto-rows: 96px;
	background-color: #333333;
	grid-gap: 8px;
	overflow-x: hidden;
	overflow-y: auto;
}

@keyframes zoom {
	from {
		opacity: 0;
		transform: scale(0);
	}
}

.list_item {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr;
	border: 1px #ffffff solid;
	background-color: #555555;
	overflow: hidden;
	animation: zoom 250ms ease-out 50ms backwards;
	transition: 100ms ease-out;
}
.list_item:active {
	transform: scale(0.8);
	z-index: 5;
}


.item_image {
	width: 100%;
	height: 100%;
	border-right: 1px #ffffff solid;
}

.item_info {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.item_text {
	font-size: 12px;
	margin: 2px;
	text-align: center;
}

.player {
	grid-area: Player;
	display: flex;
	width: 100%;
	height: 100%;
}
