

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  animation: image 200ms ease-out backwards;
  border: solid 1px #fff;
  border-radius: 100%;
  background-color: #333;
}
